{% extends 'base.html' %}

{% block title %}Contact Form{% endblock %}

{% block content %}

<h1>Contact Form</h1>

{% if form.errors %}
<p style="color: red;">Please correct the following:</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div class="field">
        {{ form.subject.errors }}
        <label for="id_subject">Subject:</label>
        {{ form.subject }}
    </div>
    <div class="field">
        {{ form.email.errors }}
        <label for="id_email">E-­mail:</label>
        {{ form.email }}
    </div>
    <div class="field">
        {{ form.message.errors }}
        <label for="id_message">Message:</label>
        {{ form.message }}
    </div>
    <input type="submit" value="Send">
</form>

{% include 'footer.html' %}
{% endblock %}